@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

*{
  margin:0;
  padding:0;
  font-family: "Science Gothic", sans-serif;
}

body{
  background-color:rgb(168, 218, 220);
  width:100vw;
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
}

.container{
  width: 650px;
  height: 600px;
  background:linear-gradient(to bottom,rgb(241, 250, 238),rgb(69, 123, 157));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 50px;
  border-radius:25px;
  border: none;
}

.text{
  width:100%;
  height: 200px;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#fromText{
  width:100%;
  height:300px;
  margin-left: 10px;
}

#toText{
  width:100%;
  height:300px;
  margin-left: 10px;
}